# Assigment
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: #FFB6C1;
    width: 150vh;
    height: 260vh;


}

.dot {
    height: 15px;
    width: 10px;
    background-color: #294c78;
    border-radius: 50%;
    display: inline-block;
}

.profile-img {
    padding: 30px;
}

.work-part {
    padding: 30px;
}

.skill {
    padding: 30px;
}

.interest1 {
    padding: 30px;
}

.education {
    padding: 30px;
}

.heading {
    color: #2f4f80;
}

.para {
    color: #184278;
}

.paraheading {
    color: #184278;
}

.hed {
    height: 10px;
    width: 10px;
    font-family: 'Verdana';
}

.vl {
    border-left: 2px solid darkblue;
    height: 500px;
}

.para1 {
    padding: 20px;
}

.para2 {
    padding: 20px;
}

.para3 {
    padding: 17px;
}
